<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"%>
<%= javascript_include_tag "highcharts" %>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<h1>Dashboard</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div id="postsLine" style="width: 400px; height: 500px;"></div>

    </div>
    <div class="col-md-6">
      <div id="postsHBar" style="width: 400px; height: 500px;"></div>
      <br/>
    </div>
  </div>
</div>


<!-- bubble need highcharts-more.js for bubble chart-->
<div id="bubble" style="width: 400px; height: 400px;"></div>
<br/>



<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
<br/>



<script>
//  -- select count of vehicles
$(function () {
   new Highcharts.Chart({

        chart: {
            type: 'bubble',
            zoomType: 'xy',
            renderTo: 'bubble',
        },

        title: {
            text: 'Highcharts Bubbles'
        },

        series: [{
            data: [[10, 2011, 80],[20, 2012, 15],[30, 2013, 20],[40, 2014, 2],[50, 2014, 7]]
        }, {
            data: [[25, 10, 87], [2, 75, 59], [11, 54, 8], [86, 55, 93], [5, 3, 58], [90, 63, 44], [91, 33, 17], [97, 3, 56], [15, 67, 48], [54, 25, 81]]
        }, {
            data: [[47, 47, 21], [20, 12, 4], [6, 76, 91], [38, 30, 60], [57, 98, 64], [61, 17, 80], [83, 60, 13], [67, 78, 75], [64, 12, 10], [30, 77, 82]]
        }]
    });
});
</script>








<!--
<%= form_tag posts_path, method: :get do %>
<table>
<% @posts.each do |year , count_all| %>

<tr>

 <td class="center" style="vertical-align:middle">

    <%= year %>  <%= count_all %>

   </td>
</tr>
<% end %>

</table>
<table>
<% @posts1.each do |year , count_all| %>

<tr>

 <td class="center" style="vertical-align:middle">

    <%= year %>  <%= count_all %>

   </td>
</tr>
<% end %>

</table>  -->

<script>

$(function () {
  new Highcharts.Chart({
    chart: { renderTo: 'postsLine',backgroundColor:null },
    title: { text: 'Posts per year according to models' },
    xAxis: {

categories : <%= raw @postsLine.map{|p| p.make_vehicle}.map(&:to_s) %>

    	 },
    yAxis: {
      title: { text: 'Number of posts'}
    },
    series: [{
    	name: "2015",
    	data: <%= @postsLine2015.map{|p|p[1] } %>

    },
    {
        name: "2014",
        data: <%= @postsLine2014.map{|p|p[1] } %>

    },
    {
        name: "2013",
        data: <%= @postsLine2013.map{|p|p[1] } %>

    },
    {
        name: "2012",
        data: <%= @postsLine2012.map{|p|p[1] } %>

    },
    {
        name: "2011",
        data: <%= @postsLine2011.map{|p|p[1] } %>

    }]

  });
});
</script>

<script type="text/javascript">

$(function () {
  new Highcharts.Chart({
        chart: {
        	renderTo: 'container',
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            backgroundColor: null
        },
        title: {
            text: "Browser market shares at a specific website, 2014"
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'make share',
        	data: <%= @posts2.to_json.html_safe -%>
        }]
     });
});

</script>

<script>
$(function () {
  new Highcharts.Chart({
        chart: {
            type: 'bar',
            renderTo: 'postsHBar',
            backgroundColor:null

        },
        title: {
            text: 'Historic World Population by Region'
        },
        subtitle: {
            text: 'Source: Wikipedia.org'
        },
        xAxis: {
            categories: <%= raw @postsHBar.map{|p| p.make_vehicle}.map(&:to_s) %>,

        },
        yAxis: {
            min: 0,
            title: {
                text: 'Population (millions)',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ' millions'
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 100,
            floating: true,
            borderWidth: 1,
            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
            shadow: true
        },
        credits: {
            enabled: false
        },
       series: [{
        name: "Clean",
        data: <%= @postsHBarClean.map{|p|p[1] } %>

    },
    {
        name: "Salvage",
        data: <%= @postsHBarSalvage.map{|p|p[1] } %>

    },
    {
        name: "Parts Only",
        data: <%= @postsHBarPartsOnly.map{|p|p[1] } %>

    },
    {
        name: "Rebuilt",
        data: <%= @postsHBarRebuilt.map{|p|p[1] } %>

    },
    {
        name: "Lien",
        data: <%= @postsHBarLien.map{|p|p[1] } %>

    }]
    });
});

</script>




<% end %>
