<div class="filter">
    <%= form_tag posts_path, method: :get do %>

     <div class ="row">
       <div class="col-md-2">
            <div class = "row">
            <%= label_tag :year %>
            </div>
            <div class = "row">
             <%= text_field_tag :year, params[:year], class: "form-control input-sm" %>
             </div>
        </div>
            <!--<%= text_field_tag :year%> -->
       
       <div class="col-md-2">
                <div class= "row"> <%= label_tag :price %> </div>    
               <div class="row"> <%= text_field_tag :price, params["price"], class: "form-control input-sm" %> </div>    
        </div>
        
        <div class="col-md-2">
              <div class="row"> <%= label_tag :fuel_vehicle %>  </div>  
              <div class="row">
                     <%= text_field_tag :fuel_vehicle, params["fuel_vehicle"], class: "form-control input-sm" %>
          </div>    
        </div>
        
        <div class="col-md-2">
               <div class="row">  <%= label_tag :make_vehicle %>   </div>  
               <div class="row">
                     <%= text_field_tag :make_vehicle, params["make_vehicle"], class: "form-control input-sm" %>
          </div>   
        </div>
        

        <div class="col-md-2">
                <div class="row"> <%= label_tag :model_vehicle %>  </div>  
                 <div class="row"> <%= text_field_tag :model_vehicle, params["model_vehicle"], class: "form-control input-sm" %> </div>    
        </div>
        
     </div>

    
     <br/>
     <div class="row">
     <div class="col-md-2">
               <%= submit_tag "Search", name:nil, class: "btn btn-primary"%>
         </div>
     </div>
    
      

    
    <% end %>
    </div>
 